*{margin:0; padding: 0;}
body{
    background-color: #F3F1FF;
    font-family: 'Poppins', sans-serif;
}
/* Heading section */
.header-bg{
    background-color: #562EFF;
    display: flex;
    justify-content: center;
}
.header{
    width: 870px;
    height: 94px;
    display: flex;
    justify-content: space-between;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-lightbulb{
    font-size: 50px;
    color: white;
}
.icon h2{
    font-weight: 500;
    font-size: 24px;
    color: white;
    margin-left: 15px;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-items ul{
   display: flex;
}
.menu-items ul li {
    list-style-type: none;
}
.menu-items ul li:hover a{
    text-decoration: underline;
}
.menu-items ul li a{
    text-decoration: none;
    color: white;
    padding: 0 18px;
}
.main-img img{
    margin-left: 20px;
}

/* top player section */
.container{
    margin-top: 36px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.main-wrapper{
    width: 870px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

.heading{
    font-weight: 500;
    font-size: 24px;
    color: #562EFF;
}
.players{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 120px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
    margin-right: 16px;
}
.player h3{
    font-weight: 500;
    font-size: 18px;
}
hr{
    border: 1px solid #D1D1D1;
    margin: 30px 0;
}
/* Top blog section */
.blogs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.single-blog{
    display: flex;
    width: 400px;
    margin-top: 30px;

}
.single-blog img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
    display: flex;
    flex-wrap: wrap;
}
.blog-info h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
}
.blog-info p{
    font-size: 16px;
    line-height: 24px;
    color: #9F9F9F;
}
.blog-info p a{
    text-decoration: none;
}

/* course section  */
.course-wrapper{
    margin-top: 21px;
}
.all-courses{
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
}
.single-course{
    width: 252px;
    padding: 10px;
    box-shadow:0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}
.single-course img{
    width: 100%;
    height: 130px;
    margin-bottom: 20px;
}
.single-course> h2{
    margin-bottom: 7px;
    font-weight: 500;
    font-size: 20.0336px;
    line-height: 23px;
}
.single-course> p{
    color: #FF4A60;
    font-size: 14.6913px;
}
.rating .unfilled{
    color: #AEAEAE;
    opacity: 0.25;
}

.rating .filled{
    color: #FFC014;
}
.rating span{
    margin-left: 10px;
    font-size: 14.6913px;
    color: #A2A2A2;
}
.course-info{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}
.course-duration{
    display: flex;
    background: #FFE4E8;
    border-radius: 14.6913px;
    padding: 5px;
}
.course-duration p{
    margin-left: 5px;
    color: #FF4A60;
    font-weight: 600;
    font-size: 14.6913px;
}
.fa-clock{
    color: #FF4A60;
}


